<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta name="google-site-verification" content="tG4JikJD9OtfARCGTUErHXJ3kI-s12Q4Av0YwoEy1V4" />
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}
      <img
      src="{{ site.url }}/images/{{ page.image.feature }}"
      class="entry-feature-image"
      alt="{{ page.title }}" {% if site.logo == null %} style="margin-top:0;" {% endif %}>

      {% if page.image.credit %}
      <p class="image-credit">Photo Credit:
        <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>
      </p>
      {% endif %}
    {% endif %}

    <div class="entry-wrapper" {% if page.url == "/" or page.url == "/about/" %} style="max-width: 51.5em;" {%else%}  style="max-width: 71.5em;" {% endif %}>
      <header class="entry-header" style="max-width: 75%; display: inline-block;">
        <h1 class="">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>

      {% if page.url == "/blog/" or page.url == "/tags/" %}
        {% include sidebar.html %}
      {% endif %}

      {% if page.url == "/" or page.url == "/about/" %}
      <div class="entry-content" style="max-width: 100%">
          {{ content }}
      </div>
      {% else %}
      <div class="entry-content" style="max-width: 75%">
          {{ content }}
      </div>
      {% endif %}

    </div>
  </article>
</div>

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div>

{% include scripts.html %}

</body>
</html>
